.image{
    width: 500px;
    height: 300px;
}
li{
list-style: none;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
h1{
    color: rgb(237, 10, 10);
}